/*UNIVERSAL SELECTOR  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;
  color: white;
  background-color: rgb(137, 137, 235);
}

/* NAV BAR STYLING */

.navbarstyle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: midnightblue;
  padding: 20px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 9px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-size: 1.25rem;
}

.navbar ul li a:hover {
  cursor: pointer;
  color: skyblue;
}

.navbarstyle .logo {
  border: 2.5px double skyblue;
  outline: 2.5px double skyblue;
  border-radius: 100%;
  padding: 5.5px;
}

/* HOME PAGE */

.my-description {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5% 0px 0px;
}

.my-description section {
  padding: 0px 5%;
  width: 40%;
  height: 100%;
}

.my-description span {
  /* font-size: 35px; */
  /* text-decoration: bold; */
}

.profile-pic {
  border-radius: 20px;
  border: 3.5px solid rgb(71, 63, 63);
}

/* ABOUT ME */

#about {
  height: 100%;
}

.about-me {
  text-align: center;
  width: 100%;
  /* height: auto; */
  margin: 0.5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.describe-self {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  height: 80%;
  width: 100%;
}

.describe-self .text {
  width: 35%;
  height: 50vh;
  box-shadow: 4px 4px 10px black;
  border-radius: 15px;
  padding: 2%;
  background-color: rgb(23, 45, 119);
  color: white;
  margin: 2%;
}

/* .text h1{
  font-size: ;FOCUS ON THE H1 TAGS ON UR BODY
} */

.describe-self .describe-image {
  width: 35vw;
  height: 50vh;
  box-shadow: 4px 4px 10px black;
  border-radius: 15px;
  color: white;
  margin: 2%;
}

.about-me section p {
  font-size: 2.5vh;
}

.a1-1 img {
  object-fit: fill;
  object-position: center;
  background: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.a2-1 img {
  object-fit: fill;
  object-position: center;
  background: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.a3-1 img {
  object-fit: fill;
  object-position: center;
  background: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.a4-1 img {
  object-fit: fill;
  object-position: center;
  background: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

/* MY PAGE HEADINGS */
.my-projects-title,
.my-about-me-title,
.my-home-title {
  text-align: center;
  border-radius: 15px;
  margin: 1% auto;
  width: 80%;
  color: white;
  background-color: rgb(39, 39, 148);
}

/* MY PROJECTS PAGE */

.my-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  gap: 3%;
  height: auto;
  grid-row: space-evenly;
  grid-column: space-evenly;
  padding: 3%;
  /* margin-bottom: 2%; */
}

.my-projects section {
  border-radius: 15px;
  background-color: rgb(23, 45, 119);
  width: auto;
  height: 45vh;
  box-shadow: 3px 3px 10px black;
  cursor: pointer;
  filter: blur(1px);
}

.my-projects section:hover {
  transform: scale(1.025);
  box-shadow: 3px 3px 10px black;
  filter: blur(0px);
}

.my-projects section:hover p {
  font-size: larger;
}

.my-projects section img {
  width: 70%;
  height: 70%;
  margin: 5% 15%;
  border-radius: 15px;
}

.my-projects section a,
footer section a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.my-projects section h3 {
  font-size: 1.3rem;
  padding: 5px;
  text-decoration: none;
}

/* FOOTER AS A DROP DOWN*/

button {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  /* margin-top: 105px; */
}

svg:hover {
  color: aquamarine;
}

svg {
  font-size: 2rem;
  color: rgb(163, 155, 197);
}

#aboutMeFoot {
  display: none;
}

footer {
  background-color: rgb(6, 6, 58, 0.5);
  border-radius: 12px;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0;
  bottom: -570px;
  width: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}

footer::-webkit-scrollbar {
  display: none;
}

footer h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: 700px;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

footer h3 span {
  font-size: 1rem;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5% 0px 0px;
}

.contact a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.contact a:hover {
  transform: scale(1.2) ease;
  border: 3px solid black;
  background-color: rgb(155, 127, 255);
  border-radius: 10px;
}

.contact a img {
  border-radius: 100%;
  color: aquamarine !important;
}

.contact a {
  color: aquamarine !important;
}

#aboutMeFoot {
  text-align: center;
  padding: 2%;
}

#aboutMeFoot section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 1%;
}

#aboutMeFoot section p {
  background-color: rgb(48, 48, 97);
  border: 2px solid black;
  border-radius: 15px;
  padding: 0.4%;
  margin-bottom: 2%;
}

#aboutMeFoot h2 {
  text-decoration: underline;
}

/* MEDIA QUERRIES */

/* MY PROJECTS PAGE */
@media screen and (max-width: 800px) {
  .my-projects {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    margin: auto;
    height: auto;
    padding: 7%;
    align-items: space-between;
  }

  .my-projects section {
    margin-bottom: 10%;
  }

  /* ABOUT ME */

  .describe-self {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 0px;
  }

  .describe-image,
  .text {
    width: 65vw !important;
  }

  .describe-image {
    order: 1 !important;
  }

  .text {
    width: 80vw !important;
    order: -1 !important;
    height: 34vh !important;
    margin-bottom: 14% !important;
  }

  .about-me section h1 {
    font-size: 4vh;
  }
}

/* HOME SCREEN */

@media screen and (max-width: 370px) {
  .my-projects section {
    border-radius: 15px;
    background-color: rgb(23, 45, 119);
    width: auto;
    height: 45vh;
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
    filter: blur(0px);
  }

  .my-projects section img {
    width: 90%;
    height: 70%;
    margin: 3% 5%;
    border-radius: 15px;
  }
}

@media screen and (max-width: 700px) {
  .my-description {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 0px;
  }

  .my-description section {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }

  .my-description section {
    height: 34%;
    width: 100%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 330px) {

  /* ABOUT ME */

  .text {
    width: 80vw !important;
    order: -1 !important;
    height: auto !important;
    margin-bottom: 14% !important;
  }

  /* NAVBAR STYLING */

  .navbarstyle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: midnightblue;
    padding: 20px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

  .navbarstyle .logo {
    display: none;
}
}
